Name: electron_EB
OutputDirectory: testSample
InputFiles: testSample/baseSample_training_subsample.root
Tree: tree

Options: MinEvents=300:Shrinkage=0.15:NTrees=1000:MinSignificance=5.0:EventWeight=1.0
Target: genEnergy / ( scRawEnergy + scPreshowerEnergy )
Cut: 1

## Variables to train on
Variables: scRawEnergy:scEtaWidth:scPhiWidth
## :full5x5_e5x5/scRawEnergy:hadronicOverEm:rhoValue:delEtaSeed:delPhiSeed:full5x5_r9:full5x5_sigmaIetaIeta:full5x5_sigmaIetaIphi:full5x5_sigmaIphiIphi:full5x5_eMax/full5x5_e5x5:full5x5_e2nd/full5x5_e5x5:full5x5_eTop/full5x5_e5x5:full5x5_eBottom/full5x5_e5x5:full5x5_eLeft/full5x5_e5x5:full5x5_eRight/full5x5_e5x5:full5x5_e2x5Max/full5x5_e5x5:full5x5_e2x5Left/full5x5_e5x5:full5x5_e2x5Right/full5x5_e5x5:full5x5_e2x5Top/full5x5_e5x5:full5x5_e2x5Bottom/full5x5_e5x5:N_SATURATEDXTALS:N_ECALClusters:clusterRawEnergy[0]/scRawEnergy:clusterRawEnergy[1]/scRawEnergy:clusterRawEnergy[2]/scRawEnergy:clusterDPhiToSeed[0]:clusterDPhiToSeed[1]:clusterDPhiToSeed[2]:clusterDEtaToSeed[0]:clusterDEtaToSeed[1]:clusterDEtaToSeed[2]:iEtaCoordinate:iPhiCoordinate:iEtaMod5:iPhiMod2:iEtaMod20:iPhiMod20

## Regression variable limits and values
mu_DownLimit: -1.0
mu_UpLimit: 3.0
sigma_DownLimit: 0.0002
sigma_UpLimit: 0.5
n1_DownLimit: 1.01
n1_UpLimit: 5000.0
n2_DownLimit: 1.01
n2_UpLimit: 5000.0
alpha1: 2.0
alpha2: 1.0